# Módulo 07, Tarefa 01

Vamos começar a mexer na nossa base de projeto? Já fizemos um exercício de montar a variável resposta, já pudemos perceber que essa atividade pode não ser trivial. Vamos agora trabalhar a base para que fique propícia ao *scikitlearn* para trabalharmos.

Lembrando, a base se chama demo01.csv, e originalmente está publicada [aqui](https://www.kaggle.com/rikdifos/credit-card-approval-prediction).

#### 1) Carregue a base e avalie:

- As variáveis
- Tipos de dados de cada variável
- Quantidade de missings
- Distribuição da variável resposta (mau)

In [49]:
import numpy as np
import pandas as pd

In [50]:
df = pd.read_csv("demo01.csv")
df.head()

,sexo,posse_de_veiculo,posse_de_imovel,qtd_filhos,tipo_renda,educacao,estado_civil,tipo_residencia,idade,tempo_emprego,possui_celular,possui_fone_comercial,possui_fone,possui_email,qt_pessoas_residencia,mau
0,M,Y,Y,0,Working,Secondary / secondary special,Married,House / apartment,58.832877,3.106849,1,0,0,0,2.0,False
1,F,N,Y,0,Commercial associate,Secondary / secondary special,Single / not married,House / apartment,52.356164,8.358904,1,0,1,1,1.0,False
2,F,N,Y,0,Commercial associate,Secondary / secondary special,Single / not married,House / apartment,52.356164,8.358904,1,0,1,1,1.0,False
3,M,Y,Y,0,Working,Higher education,Married,House / apartment,46.224658,2.106849,1,1,1,1,2.0,False
4,F,Y,N,0,Working,Incomplete higher,Married,House / apartment,29.230137,3.021918,1,0,0,0,2.0,False

In [51]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16650 entries, 0 to 16649
Data columns (total 16 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   sexo                   16650 non-null  object
 1   posse_de_veiculo       16650 non-null  object
 2   posse_de_imovel        16650 non-null  object
 3   qtd_filhos             16650 non-null  int64
 4   tipo_renda             16650 non-null  object
 5   educacao               16650 non-null  object
 6   estado_civil           16650 non-null  object
 7   tipo_residencia        16650 non-null  object
 8   idade                  16650 non-null  float64
 9   tempo_emprego          16650 non-null  float64
 10  possui_celular         16650 non-null  int64
 11  possui_fone_comercial  16650 non-null  int64
 12  possui_fone            16650 non-null  int64
 13  possui_email           16650 non-null  int64
 14  qt_pessoas_residencia  16650 non-null  float64
 15  mau                    16650 non-null  bool
dtypes: bool(1), float64(3), int64(5), object(7)
memory usage: 1.9+ MB

As variáveis FLAG_OWN_CAR e FLAG_OWN_REALTY são valores de string, quando claramente poderiam ser simples booleans. Os demais parecem ter o tipo ideal para o que representam.

In [52]:
df.isna().sum()

sexo                     0
posse_de_veiculo         0
posse_de_imovel          0
qtd_filhos               0
tipo_renda               0
educacao                 0
estado_civil             0
tipo_residencia          0
idade                    0
tempo_emprego            0
possui_celular           0
possui_fone_comercial    0
possui_fone              0
possui_email             0
qt_pessoas_residencia    0
mau                      0
dtype: int64

In [53]:
percentage = (df.isnull().sum() / len(df)) * 100
percentage

sexo                     0.0
posse_de_veiculo         0.0
posse_de_imovel          0.0
qtd_filhos               0.0
tipo_renda               0.0
educacao                 0.0
estado_civil             0.0
tipo_residencia          0.0
idade                    0.0
tempo_emprego            0.0
possui_celular           0.0
possui_fone_comercial    0.0
possui_fone              0.0
possui_email             0.0
qt_pessoas_residencia    0.0
mau                      0.0
dtype: float64

A única coluna com variáveis faltantes é OCCUPATION_TYPE, com 30% da base não tendo o seu valor. Vamos

In [54]:
df = df.dropna(axis=1)
df.tail()

,sexo,posse_de_veiculo,posse_de_imovel,qtd_filhos,tipo_renda,educacao,estado_civil,tipo_residencia,idade,tempo_emprego,possui_celular,possui_fone_comercial,possui_fone,possui_email,qt_pessoas_residencia,mau
16645,F,N,Y,0,Working,Secondary / secondary special,Civil marriage,House / apartment,54.109589,9.884932,1,0,0,0,2.0,True
16646,F,N,Y,0,Commercial associate,Secondary / secondary special,Married,House / apartment,43.389041,7.380822,1,1,1,0,2.0,True
16647,M,Y,Y,0,Working,Secondary / secondary special,Married,House / apartment,30.005479,9.800000,1,1,0,0,2.0,True
16648,M,Y,Y,0,Working,Secondary / secondary special,Married,House / apartment,30.005479,9.800000,1,1,0,0,2.0,True
16649,F,N,Y,0,Pensioner,Higher education,Married,House / apartment,33.936986,3.630137,1,0,1,1,2.0,True

In [55]:
df.reset_index(drop=True, inplace=True)
df.tail()

,sexo,posse_de_veiculo,posse_de_imovel,qtd_filhos,tipo_renda,educacao,estado_civil,tipo_residencia,idade,tempo_emprego,possui_celular,possui_fone_comercial,possui_fone,possui_email,qt_pessoas_residencia,mau
16645,F,N,Y,0,Working,Secondary / secondary special,Civil marriage,House / apartment,54.109589,9.884932,1,0,0,0,2.0,True
16646,F,N,Y,0,Commercial associate,Secondary / secondary special,Married,House / apartment,43.389041,7.380822,1,1,1,0,2.0,True
16647,M,Y,Y,0,Working,Secondary / secondary special,Married,House / apartment,30.005479,9.800000,1,1,0,0,2.0,True
16648,M,Y,Y,0,Working,Secondary / secondary special,Married,House / apartment,30.005479,9.800000,1,1,0,0,2.0,True
16649,F,N,Y,0,Pensioner,Higher education,Married,House / apartment,33.936986,3.630137,1,0,1,1,2.0,True

In [56]:
df.mau.value_counts()

mau
False    16260
True       390
Name: count, dtype: int64

In [57]:
df.mau.value_counts(normalize=True)

mau
False    0.976577
True     0.023423
Name: proportion, dtype: float64

A distribuição da variável resposta é bem desproporcional, com 97,66% da base sendo adimplente e apenas 2,34% sendo inadimplente.

#### 2) Vamos montar um metadados

1. Crie um dataframe com os nomes de cada variável e o tipo de dados de cada variável.
2. Adicione uma coluna nesse *dataframe* chamada "qtd_categorias" e coloque nela o número de categorias correspondente de cada variável. 
    Dica: 
        1. inicie uma lista vazia
        2. faça um for ao longo dos nomes das variáveis, 
        3. conte o número de categorias dessa variável 
        4. acumule essa informação de 3. na lista que você criou em 1. 
        5. No final, essa lista pode ser atribuída à nossa variável.
1. 3. Crie variáveis dummy para as variáveis necessárias (i.e. aquelas que são qualitativas e não estão armazenadas como {0, 1} ou {True, False}.

In [58]:
df_columns = list(df.columns)
metadados_dict = { 'coluna': df_columns, 'tipo': list(df.dtypes) }
metadados_df = pd.DataFrame(metadados_dict)
metadados_df

                   coluna     tipo
0                    sexo   object
1        posse_de_veiculo   object
2         posse_de_imovel   object
3              qtd_filhos    int64
4              tipo_renda   object
5                educacao   object
6            estado_civil   object
7         tipo_residencia   object
8                   idade  float64
9           tempo_emprego  float64
10         possui_celular    int64
11  possui_fone_comercial    int64
12            possui_fone    int64
13           possui_email    int64
14  qt_pessoas_residencia  float64
15                    mau     bool

In [59]:
categorias_unicas_linha = []
for col in df_columns:
    categorias_unicas_linha.append(len(df[col].unique()))
    
metadados_df['qtd_categorias'] = categorias_unicas_linha
metadados_df

                   coluna     tipo  qtd_categorias
0                    sexo   object               2
1        posse_de_veiculo   object               2
2         posse_de_imovel   object               2
3              qtd_filhos    int64               8
4              tipo_renda   object               5
5                educacao   object               5
6            estado_civil   object               5
7         tipo_residencia   object               6
8                   idade  float64            5298
9           tempo_emprego  float64            3005
10         possui_celular    int64               1
11  possui_fone_comercial    int64               2
12            possui_fone    int64               2
13           possui_email    int64               2
14  qt_pessoas_residencia  float64               9
15                    mau     bool               2

In [60]:
metadados_encoded = pd.get_dummies(metadados_df, columns=['coluna', 'tipo'], drop_first=True)
metadados_encoded.head()

,qtd_categorias,coluna_estado_civil,coluna_idade,coluna_mau,coluna_posse_de_imovel,coluna_posse_de_veiculo,coluna_possui_celular,coluna_possui_email,coluna_possui_fone,coluna_possui_fone_comercial,coluna_qt_pessoas_residencia,coluna_qtd_filhos,coluna_sexo,coluna_tempo_emprego,coluna_tipo_renda,coluna_tipo_residencia,tipo_int64,tipo_float64,tipo_object
0,2,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,True
1,2,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,True
2,2,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,True
3,8,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,True,False,False
4,5,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,True

#### 3) Crie variáveis dummy para as variáveis necessárias (i.e. aquelas que são qualitativas e não estão armazenadas como {0, 1} ou {True, False}. Crie um *dataframe* apenas com as variáveis apropriadas para entrada no scikitlearn - elimine as variáveis tipo *str*, mantendo apenas suas versões *dummy*.

In [61]:
df.dtypes

sexo                      object
posse_de_veiculo          object
posse_de_imovel           object
qtd_filhos                 int64
tipo_renda                object
educacao                  object
estado_civil              object
tipo_residencia           object
idade                    float64
tempo_emprego            float64
possui_celular             int64
possui_fone_comercial      int64
possui_fone                int64
possui_email               int64
qt_pessoas_residencia    float64
mau                         bool
dtype: object

In [62]:
encoded_df = pd.get_dummies(df, columns=['tipo_renda', 'educacao', 'estado_civil', 'tipo_residencia'], drop_first=True)
encoded_df.head()

,sexo,posse_de_veiculo,posse_de_imovel,qtd_filhos,idade,tempo_emprego,possui_celular,possui_fone_comercial,possui_fone,possui_email,...,educacao_Secondary / secondary special,estado_civil_Married,estado_civil_Separated,estado_civil_Single / not married,estado_civil_Widow,tipo_residencia_House / apartment,tipo_residencia_Municipal apartment,tipo_residencia_Office apartment,tipo_residencia_Rented apartment,tipo_residencia_With parents
0,M,Y,Y,0,58.832877,3.106849,1,0,0,0,...,True,True,False,False,False,True,False,False,False,False
1,F,N,Y,0,52.356164,8.358904,1,0,1,1,...,True,False,False,True,False,True,False,False,False,False
2,F,N,Y,0,52.356164,8.358904,1,0,1,1,...,True,False,False,True,False,True,False,False,False,False
3,M,Y,Y,0,46.224658,2.106849,1,1,1,1,...,False,True,False,False,False,True,False,False,False,False
4,F,Y,N,0,29.230137,3.021918,1,0,0,0,...,False,True,False,False,False,True,False,False,False,False

In [63]:
encoded_df.sexo = encoded_df.sexo.map({'F': 1, 'M': 0})
encoded_df.posse_de_veiculo = encoded_df.posse_de_veiculo.map({'Y': 1, 'N': 0})
encoded_df.posse_de_imovel = encoded_df.posse_de_imovel.map({'Y': 1, 'N': 0})
encoded_df.head()

,sexo,posse_de_veiculo,posse_de_imovel,qtd_filhos,idade,tempo_emprego,possui_celular,possui_fone_comercial,possui_fone,possui_email,...,educacao_Secondary / secondary special,estado_civil_Married,estado_civil_Separated,estado_civil_Single / not married,estado_civil_Widow,tipo_residencia_House / apartment,tipo_residencia_Municipal apartment,tipo_residencia_Office apartment,tipo_residencia_Rented apartment,tipo_residencia_With parents
0,0,1,1,0,58.832877,3.106849,1,0,0,0,...,True,True,False,False,False,True,False,False,False,False
1,1,0,1,0,52.356164,8.358904,1,0,1,1,...,True,False,False,True,False,True,False,False,False,False
2,1,0,1,0,52.356164,8.358904,1,0,1,1,...,True,False,False,True,False,True,False,False,False,False
3,0,1,1,0,46.224658,2.106849,1,1,1,1,...,False,True,False,False,False,True,False,False,False,False
4,1,1,0,0,29.230137,3.021918,1,0,0,0,...,False,True,False,False,False,True,False,False,False,False

In [64]:
ct = pd.crosstab(encoded_df['possui_email'], encoded_df['mau'])
ct

mau           False  True
possui_email
0             14810    360
1              1450     30

In [65]:
ct = pd.crosstab(encoded_df['posse_de_veiculo'], encoded_df['mau'])
ct

mau               False  True
posse_de_veiculo
0                  9931    247
1                  6329    143

A variável mais poderosa para prever inadimplência somente com base nas duas tabelas cruzadas é ```possui_email```, porque mais de 83% dos clientes não possuem email, enquanto apenas menos de 17% possuem. É uma diferença de comportamento grande o suficiente para superar a ```posse_de_veiculo```, pois cerca de 63% da base de clientes inadimplentes não possuem veículos, e 37% possuem.

#### 5) Salve a base, pois ela será utilizada no final deste módulo.

In [66]:
encoded_df.to_csv('encoded_adimplencia.csv', index=False)